@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

#intro-section {
    background-color: #000002;
    height: 100vh;
    box-sizing: border-box;
}

#weare-section {
    padding: 80px 32px;
}

#value-section,
#practice-section,
#output-section {
    padding: 150px 32px;
}

.section-container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 16px 32px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 99;
}

.logo-main,
.logo-main > svg {
    width: 150px;
}

.hamburger {
    display: block;
}

.hamburger,
.hamburger > svg {
    width: 40px;
}

.video-area {
    max-width: 600px;
}

video {
    width: 100%;
}

.section-title {
    width: 100%;
}

.section-title.weare {
    margin-bottom: 130px;
}

.section-title.value,
.section-title.practice {
    margin-bottom: 190px;
}

.section-title-img {
    width: 693px;
    height: 74px;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-title.weare .section-title-img {
    background-image: url(../img/title_weare.svg);
}

.section-title.value .section-title-img {
    background-image: url(../img/title_value.svg);
}

.section-title.practice .section-title-img {
    background-image: url(../img/title_practice.svg);
}

.section-title.output .section-title-img {
    background-image: url(../img/title_output.svg);
}

.pursue-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 97px;
}

.pursue-circle-box {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 360px;
}

.pursue-circle {
    width: 360px;
    height: 360px;
    border: 3px solid #151515;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: all 0.3s ease;
}

.pursue-circle:nth-child(1) {
    transform: translateX(-300px);
}

.pursue-circle:nth-child(2) {
    transform: translateX(0);
}

.pursue-circle:nth-child(3) {
    transform: translateX(300px);
}

.pursue-circle p {
    font-size: 40px;
    font-weight: bold;
}

.pursue-introduce{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.pursue-introduce h2 {
    font-size: 32px;
    font-weight: bold;
}

.pursue-introduce p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 26px;
}

.value-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 180px;
}

.value-contents {
    display: flex;
    align-items: center;
    gap: 110px;
    width: 100%;
}

.value-contents.growth {
    justify-content: flex-end;
}

.value-img {
    width: 100%;
    max-width: 60%;
    aspect-ratio: 1120 / 609;
    height: auto;
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

.value-img.learning {
    background-image: url(../img/value1.jpg);
}

.value-img.growth {
    background-image: url(../img/value2.jpg);
}

.value-img.experience {
    background-image: url(../img/value3.jpg);
}

.value-article {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.value-article-title{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.value-article-title h2 {
    font-size: 48px;
    font-weight: bold;
}

.value-article-title p {
    font-size: 16px;
    font-weight: 500;
}

.value-article-text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.value-article-title.growth,
.value-article-text.growth {
    text-align: right;
}

.practice-area {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 32px;
}

.practice-area article {
    flex: 1 1 48%;
    max-width: 918px;
    height: auto;
}

.practice-area figure {
    width: 100%;
    height: auto;
    aspect-ratio: 918 / 596;
    position: relative;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.practice-area video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.practice-area h2 {
    display: none;
}

.painting figure {
    background-image: url(../img/prac-painting.jpg);
}

.sculpture figure {
    background-image: url(../img/prac_sculpture.jpg);
}









